$azul: #012c5f;
$azul-cielo: #26b7ec;

$beige: #f7f3f2;
$beige-fuerte: #e8e1da;
$divisor-menu: #e4dcd3;

$white: #ffffff;
$black: #000000;
$gris: #918b86;

$copy: #6f87a4;

$gris-cotiza: #e4e4e4;

$tab-color-grey: #f6f3f2;
$legal-guarantee: #a0a0a0;
